snippet before
	beforeEach(() => {
		$1
	})
snippet abefore
	beforeEach(async () => {
		$1
	})
snippet it
	it('$1', () => {
		$2
	})
snippet ait
	it('$1', async () => {
		$2
	})
snippet desc
	describe('$1', () => {
		$2
	})
snippet adesc
	describe('$1', async () => {
		$2
	})
snippet screendebug
	console.log('[SCREEN DEBUG START]')
	screen.debug(undefined, Infinity)
