[submodule "zsh/vendor/zsh-completions"]
	path = core/zsh/vendor/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh/vendor/zsh-syntax-highlighting"]
	path = core/zsh/vendor/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
