# Put this file in /usr/lib/systemd/system

[Unit]
Description=PrusaLink Watcher
Requires=network.target

[Service]
User=david
Environment=TMP=${TMP}
Environment="DOTF=${DOTF}"
ExecStart=${HOME}/.dotfiles/extra/scripts/prusa-link-watcher
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
