snippet ee
expect(${1}).toEqual(${2})
endsnippet

snippet et
expect(${1}).toBeTruthy()
endsnippet

snippet ef
expect(${1}).toBeFalsy()
endsnippet

snippet bm
Backbone.Marionette.
endsnippet

snippet cl
console.log 
endsnippet

snippet shb
should.have.been
endsnippet

snippet shbc
should.have.been.called
endsnippet

snippet shbco
should.have.been.calledOnce
endsnippet

snippet shbcw
should.have.been.calledWith
endsnippet
