# Self upgrade {{{1
npm: npm
pip: pip

# Termux {{{1
termux: neovim

# Tools {{{1
apt: curl
apt: htop
apt: imagemagick
apt: ncdu
apt: wget
brew: curl
brew: htop
brew: imagemagick
brew: ncdu
brew: wget

# GUI Apps {{{1
apt-gui: feh # Image viewer
apt-gui: fim # Image viewer - TODO: why two image viewers?
apt-gui: flameshot # Screenshots
apt-gui: gimp
apt-gui: playerctl # Controls browser players 
apt-gui: qalculate-gtk
apt-gui: vlc
apt-gui: xsel

# Neovim: build requirements {{{1
# apt: clang
# apt: ninja-build
# apt: python3-dev
# apt: python3-pip
# brew: ctags
# brew: python
# termux: clang

# Neovim: Language Servers {{{1
npm: bash-language-server
npm: css-langserver
npm: diagnostic-languageserver
npm: eslint-server
npm: pyright
npm: tslint-server
npm: typescript-language-server
npm: vim-language-server
npm: vscode-json-languageserver
npm: vscode-langservers-extracted
npm: yaml-language-server

# Neovim: misc {{{1
apt: exuberant-ctags
npm: eslint
npm: htmlhint
npm: marked
npm: markserv
npm: name-that-color
npm: typescript
pip: pylint
pip: yamllint

# Neovim: linters {{{1
apt: shellcheck

# Neovim: formatters {{{1
npm: clang-format
npm: prettier
pip: black

# Neovim: bindings {{{1
npm: neovim
pip: neovim
pip: neovim-remote
pip: pynvim # is this still needed?

# CLI tools {{{1
apt: ffmpeg
npm: json
pip: httpie # Provides the "http" command (simpler curl)
pip: ipython
pip: visidata # Renders CSVs in the terminal

# Python: libs {{{1
pip: requests

# vim: foldmethod=marker
