# Self upgrade {{{1
npm: npm
pip: pip

# Termux {{{1
termux: neovim

# Build tools {{{1
apt: build-essential
apt: cmake
apt: libreadline-dev
apt: libncursesw5-dev # required for vifm, tig and tmux
apt: dh-autoreconf # required for vifm
apt: mandoc # required for vifm (to build the help files)

# Tmux requirements {{{1
apt: libevent-dev
apt: libncurses5-dev
apt: pkg-config
apt: byacc
apt: autotools-dev
apt: automake

# Tools {{{1
apt: curl
apt: fasd
apt: git
apt: htop
apt: imagemagick
apt: ncdu
apt: plantuml
apt: unzip
apt: wget
apt: zsh
apt: qalc # powerful CLI calculator
brew: bat
brew: bottom
brew: coreutils
brew: curl
brew: delta
brew: exa
brew: fasd
brew: findutils
brew: git
brew: glow
brew: gnu-sed
brew: grep
brew: gron
brew: htop
brew: imagemagick
brew: ncdu
brew: reattach-to-user-namespace
brew: ripgrep
brew: tig
brew: tmux
brew: vifm
brew: wget

# GUI Apps {{{1
apt-gui: feh # Image viewer
apt-gui: flameshot # Screenshots
apt-gui: gimp
apt-gui: playerctl # Controls browser players 
apt-gui: qalculate-gtk
apt-gui: vlc
apt-gui: xsel
apt-gui: xinput # Change touchpad settings

# Neovim: build requirements {{{1
# apt: clang
# apt: ninja-build
# apt: python3-dev
# apt: python3-pip
# brew: ctags
# brew: python
# termux: clang

# Neovim {{{1
brew: neovim

# Neovim: Language Servers {{{1
npm: bash-language-server
npm: css-langserver
npm: diagnostic-languageserver
npm: eslint-server
npm: pyright
npm: tslint-server
npm: typescript-language-server
npm: vim-language-server
npm: vscode-json-languageserver
npm: vscode-langservers-extracted
npm: yaml-language-server
brew: shfmt

# Neovim: misc {{{1
apt: exuberant-ctags
apt: pandoc # required for yanking formatted markdown
apt: xclip # required for copying to the clipboard
apt: toilet # used to make ascii headers (for presentations)
apt: wamerican
npm: eslint
npm: htmlhint
npm: marked
npm: markserv
npm: name-that-color
npm: typescript
pip: pylint
pip: yamllint

# Neovim: linters {{{1
apt: shellcheck

# Neovim: formatters {{{1
npm: clang-format
npm: prettier
npm: @fsouza/prettierd
pip: black

# Neovim: bindings {{{1
npm: neovim
pip: neovim
pip: neovim-remote
pip: pynvim # is this still needed?

# CLI tools {{{1
apt: ffmpeg
npm: cloc
npm: fx
npm: gtop
npm: json
npm: live-server
npm: npm-upgrade
npm: semver
pip: httpie # Provides the "http" command (simpler curl)
pip: ipython
pip: visidata # Renders CSVs in the terminal
pip: docker-compose
pip: pulsemixer

# Python: libs {{{1
pip: requests

# KDE {{{1
apt-kde: sddm-theme-debian-breeze # SDDM display manager
apt-kde: kde-plasma-desktop # KDE Plasma 5 and apps
apt-kde: plasma-nm # network manager tray icon
apt-kde: plasma-pa # volume control tray icon
apt-kde: powerdevil # power management
apt-kde: gwenview # image viewer
apt-kde: ark # archive manager
apt-kde: libreoffice-kde5 # native look and feel for LibreOffice
apt-kde: yakuake # drop down terminal
apt-kde: kde-spectacle # screenshot tool
apt-kde: xserver-xorg-input-synaptics # touchpad driver

# vim: foldmethod=marker
