# Put this file in /usr/lib/systemd/system

[Unit]
Description=Telegram MQTT+HTTP Proxy
Requires=network.target

[Service]
User=david
Environment=TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
Environment=TELEGRAM_CHAT_ID=${TELEGRAM_CHAT_ID}
ExecStart=${NODE} ${HOME}/.dotfiles/extra/scripts/telegram-proxy
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
