body {
  background-color: black;
  color: white;
  font-family: 'Kreon', serif;
}

.time {
  margin-top: 40px;
  font-size: 200px;
  text-align: center;
}

.date {
  font-size: 120px;
  text-align: center;
}

.calendar {
  font-size: 30px;
}

.calendar table {
  margin: auto;
  margin-top: 50px;
}

.calendar td,
.calendar th {
  text-align: center;
  padding: 5px;
}

.calendar td:nth-child(6),
.calendar td:nth-child(7),
.calendar th:nth-child(6),
.calendar th:nth-child(7) {
  opacity: 0.5;
}

.calendar td.is-today {
  color: red;
  font-weight: bold;
}
