snippet des
	describe "${1}", ->
		${2}
snippet it
	it "${1}", ->
		${2}
snippet ee
	expect(${1}).toEqual(${2})
snippet et
	expect(${1}).toBeTruthy()
snippet ef
	expect(${1}).toBeFalsy()
snippet bm
	Backbone.Marionette.
snippet cl
	console.log 
snippet shb
	should.have.been
snippet shbc
	should.have.been.called
snippet shbco
	should.have.been.calledOnce
snippet shbcw
	should.have.been.calledWith
