body {
  /* font-family: Merriweather; */
  font-family: 'Pompiere';

}

.c-week-container {
  margin-right: 200px;
}

.c-notes {
  width: 200px;
  float: right;
}

.c-notes__contents {
  padding-top: 1px;
}

.c-day {
  border: 1px solid #3879d9;
  border-left: 0;
  float: left;
  width: 33%;
  box-sizing: border-box;
}

.c-day--0,
.c-day--3 {
  border-left: 1px solid #3879d9;
}

.c-day__date {
  background-color: #3879d9;
  color: white;
}

.c-day__contents {
  padding: 0 5px;
}

.c-day--5 .c-day__contents {
  height: 128px;
}

.c-day--6 .c-day__contents {
  height: 128px;
}

.c-text--header {
  line-height: 40px;
  padding: 0 7px;
  font-size: 26px;
}

.c-line {
  height: 22px;
}

.c-line:not(:last-child) {
  border-bottom: 1px solid #eee;
}
