body {
  font-family: sans-serif;
  font-size: 14px;
}

.o-orders {
  column-width: 320px;
  column-fill: balance;
}

.o-orders .o-order {
  margin-bottom: 10px;
}

.o-order {
  break-inside: avoid-column;
  background-color: #eee;
  border: 1px solid #aaa;
  padding: 10px;
  border-radius: 5px;
}

.o-order--refreshing {
  opacity: .2;
}

.o-order--in-transit {
  background-color: hsla(195, 67%, 86%, 1);
  border-color: hsla(195, 67%, 50%, 1);
}

.o-order--on-hold {
  background-color: hsla(0, 57%, 77%, 1);
  border-color: hsla(0, 57%, 50%, 1);
}

.o-order--delivered {
  background-color: hsla(120, 72%, 81%, 1);
  border-color: hsla(120, 72%, 81%, 1);
}

.o-order__summary,
.o-order__tracking {
  font-size: 80%;
  color: #555;
}

.o-order__summary {
  margin-bottom: 10px;
}

.o-order__store {
  text-transform: uppercase;
}

.o-order__store {
  float: right;
  display: inline-block;
}

.o-order__name {
  font-weight: bold;
}

.o-order__tracking {
  margin-top: 10px;
  border-top: 1px solid #999;
  padding-top: 10px;
}

.o-order-tn {
  margin-top: 10px;
}

.o-order-tn__result table {
  color: #555;
  font-size: 100%;
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.05);
}

.o-order-tn__result td {
  padding: 10px;
}

.o-order__toolbar {
  text-align: right;
}

.o-toolbar-item {
  padding: 3px;
  text-decoration: none;
}
